@font-face {
  font-family: Roboto_Condensed_Bold;
  src: url("fonts/RobotoCondensed-Bold.ttf ");
}

@font-face {
  font-family: Roboto-Light;
  src: url("fonts/Roboto-Light.ttf ");
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf ");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("fonts/Roboto-Medium.ttf ");
}

.App {
  .titleBg {
    height: 100vh;
    background-image: url("assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .logoBox {
      background-image: url("assets/boxLogo.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      height: 100vh;
      left: 0;
      right: 0;
    }
  }

  .titleBlock {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .firstTitle {
      color: #FFF;
      text-align: center;
      font-family: Roboto_Condensed_Bold, serif;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 25px;
    }

    .twoTitle {
      color: #FFF;
      text-align: center;
      font-family: Roboto, serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 50px;
    }
  }

  .contentWall {
    height: 100vh;
    background-image: url("assets/wall.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .content {
      display: flex;
      flex-direction: row;
      margin: 60px 260px 0 330px;
      height: 100vh;

      .imageGlow {
        margin-top: 140px;
        left: 220px;
        position: absolute;
        width: 680px;
        height: 686px;
        flex-shrink: 0;
        border-radius: 686px;
        border: 1px solid #000;
        opacity: 0.2;
        background: #416DF4;
        mix-blend-mode: lighten;
        filter: blur(100px);
        z-index: 1;
      }

      .contentImage {
        z-index: 2;
        margin-left: 30px;
      }

      .gridContent {
        margin-left: 160px;
        width: 630px;

        .itemTitle {
          color: #416DF4;
          font-family: Roboto_Condensed_Bold, serif;
          font-size: 30px;
          font-style: normal;
          line-height: normal;
        }

        .grid {
          display: flex;
          flex-direction: column;
          gap: 1px;

          .buy {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .price {
              color: #FFF;
              font-family: Roboto, serif;
              font-size: 50px;
              font-style: normal;
              line-height: normal;
              margin-bottom: 10px;
            }

            .buttonBuy {
              width: 180px;
              height: 40px;
              flex-shrink: 0;
              border: none;
              border-radius: 7px;
              background: #FCFF00;
              margin-bottom: 50px;
              color: #000;
              text-align: center;
              font-family: Roboto-Medium, serif;
              font-size: 16px;
              font-style: normal;
            }

          }

          .gridButtonsBlock {
            display: flex;
            flex-direction: row;
            margin-left: auto;

            .gridButton {
              height: 20px;
              margin: 40px 0 10px 10px;
              padding: 0 10px;
              box-shadow: 0 0 1px 0;
              background: transparent;
              border: 1px solid rgba(103, 29, 0, 0.57);
              color: #671D00;
              text-align: center;
              font-family: Roboto-Medium, serif;
              font-size: 12px;
              font-style: normal;
              line-height: normal;
            }

            .gridButton:hover {
              transition: 0.3s;
              color: #962b02;
            }
          }

          .gridBlock {
            color: #FFF;
            font-family: Roboto, serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            flex-direction: row;
            padding: 5px;
            border: 1px solid rgba(103, 29, 0, 0.48);
            background: rgba(0, 0, 0, 0.55);
            flex-shrink: 0;

            .textContainer {
              margin-left: 20px;
              margin-right: 40px;
              align-items: center;
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: space-between;
              font-family: Roboto-Light, serif;

              .textBlock {
                width: 170px;
              }

              .textBlock2 {
                width: 35px;
                text-align: center;
              }

              .textBlock3 {
                width: 75px;
                text-align: center;
              }

              .containerBlocks {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .fixBlock {
                  margin-left: 20px;
                }

              }

            }
          }
        }


      }

    }
  }
}




